/* eww bar styles - Catppuccin Latte. */
* {
  all: unset;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 24px;
}

label {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 14pt;
}

.bar {
  background-color: rgba(239, 241, 245, 0.90);
  color: #4c4f69;
  padding: 0 4px;
}

.workspaces {
  padding-left: 4px;
}

.workspace {
  color: #6c6f85;
  padding: 2px 10px;
  margin: 4px 2px;
}

.ws-num {
  color: #9ca0b0;
}

.right-modules {
  padding-right: 20px;
}

.module {
  color: #4c4f69;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 14pt;
  padding: 0 6px;
  margin-right: 12px;
}
