[Unit]
Description=Stremio Service
PartOf=graphical-session.target
After=graphical-session.target

[Service]
ExecStart=/usr/bin/stremio-service
Restart=on-failure
RestartSec=2

[Install]
WantedBy=graphical-session.target
